# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
cmake-build-debug
cmake-build-release
build

# Dependency libraries
!dependencies/lib/fmt/Darwin/*.a
!dependencies/lib/ncurses/Darwin/*.a
!dependencies/lib/ncurses/mingw32/*.a
!dependencies/lib/ncurses/mingw64/*.a
!dependencies/lib/ncurses/terminfo/*

# apple shit
.DS_Store

# doxygen output file
Doc/out

